body {
  margin: auto;
  font-size: 16px;
}
@media screen and (min-width: 992px) {
  body {
    max-width: 992px;
    margin: auto;
    font-size: 16px;
  }
  h1 {
    text-align: center;
  }
  .epi-simulation {
    padding: 4px;
    border: 1px dashed #6495ED;
    border-radius: 5px;
    padding: 16px;
    margin: 24px auto 24px auto;
  }
}

.sir {
  display: flex;
  flex-direction: row;
}

.macro-results, .macro-chart {
  flex: 50%;
}

.macro-results {
  max-height: 400px;
  overflow-y: scroll;
  font-size: small;
  border: 1px solid black;
  border-radius: 5px;
}

.macro-results thead tr th {
  position: sticky;
  top: 0;
  border-bottom: 1px solid gray;
  opacity: 1.0;
  background-color: white;
  z-index 1;
}

.macro-results tbody tr {
  /* `z-index: -1; */
}

.macro-results td {
  padding: 10px;
}
