.epi-simulation {
    padding: 4px;
    border-bottom: 1px solid lightgray;
    padding: 16px;
    margin: 16px;
    display: grid;
}

@media screen and (min-width: 992px) {
    .epi-simulation {
        grid-template-columns: 50% 50%;
    }
}

@media screen and (max-width: 992px) {
    .epi-simulation {
        grid-template-columns: auto;
    }
}


.epi-game, .epi-chart-holder, .epi-parameter-box, .epi-results-box  {
    resize: both;
    margin: 6px;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 3px;
    position: relative;
    min-height: 18px;
}


.epi-game-canvas {
    border: 2px solid black;
    border-radius: 3px;
    padding: 0;
    margin: 12px auto 12px auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.epi-button {
	background-color:#44c767;
	border-radius:3px;
	border: 1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
        width: 100px;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:16px 31px;
	text-decoration:none;
	text-shadow:0px 1px 2px #2f6627;
        margin: 6px;
}

.epi-button:hover {
	background-color:#5cbf2a;
}

.epi-button:disabled {
	background-color:gray;
}


.epi-button:active {
	position:relative;
	top:1px;
}

/*.epi-chart { background: #eee;}*/

.epi-results-box, .epi-parameter-box {
    max-height: 250px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    resize: both;
}

.epi-canvas canvas, .epi-results-box, .epi-parameter-box {
    border: 1px solid lightgray;
    border-radius: 5px;
}

.epi-results, .epi-parameters {
    min-height: 100px;
    height: 85%;
    overflow: scroll;
}

.epi-results table {
    border-collapse: collapse;
    width: 100%;
}

.epi-results thead {
    text-transform: capitalize;
    font-weight: bold;
}

.epi-results table, .epi-results th, .epi-results td {
    border: 1px solid black;
}

.epi-download {
    width: 95%;
    padding: 6px;
    margin-top: 6px;
    border-top: 1px solid lightgray;
    position: absolute;
    bottom: 0;
    left: 0;
}

.epi-show-zeros {
    display: inline-block;
    margin-left: 15px;
}

.epi-model-name {
    margin-bottom: 12px;
}

.epi-model-description {
    margin-bottom: 12px;
    font-size: 110%;
}
.epi-entry {
    display: grid;
    grid-template-columns: 185px 25px 100px;
    width: 300px;
}

.epi-iteration-head {
    font-size: 120%;
    font-weight: bold;
}

.epi-description {
    text-transform: capitalize;
}

.epi-value {
    /*text-align: right;*/
    color: green;
}

.epi-slider {
    margin-left: 12px;
    width: 100px;
}


.epi-hidden {
    display: none;
}

.epi-min-max {
    cursor: pointer;
}

.epi-min-max {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    font-weight: bold;
    border: none;
}
